# Maven
target/

# IDE / VS Code
.vscode/
.idea/
*.iml

# ANTLR (Archivos generados por la extensión de VS Code)
.antlr/

# Archivos generados por ANTLR
*.tokens
*.interp
target/generated-sources/

# Archivos de clases Java
*.class

# Archivos jar y logs
*.jar
*.log

# Otros
.DS_Store
Thumbs.db
*.tmp
*.out
